# Exercise 6.1 - TASK 

#### 1. Importing the 'listing' dataset
#### 2. Cleaning and consistency checks
#### 3. Descriptive analysis and data profile 
#### 4. Exporting the clean dataset

## 1. Importing Libraries and dataset

In [1]:
# Importing our libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Set the display format for float values in the DataFrame
pd.options.display.float_format = '{:.0f}'.format

# Set max_columns to None to display all columns
pd.set_option('display.max_columns', None)

In [3]:
# Creating the default 'path' for easier reference
path = r'C:\Users\peter\Desktop\Career Foundry - Data Analyst\Data Immersion\Achievement 6 - Advanced Analytics\Achievement 6 - Project'

In [4]:
# Importing the 'listing.csv' dataset
df_listings = pd.read_csv(os.path.join(path, '02. Data\Modified\listings_deleted_columns.csv'), index_col = False)

In [5]:
# Checking the dataframe to see that the everything was imported correctly 
df_listings

,id,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,neighbourhood,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,has_availability,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,360,666,7/8/2008,"Denver, CO",within an hour,100%,96%,t,Highland,4,4,"Denver, Colorado, United States",Highland,40,-105,Entire guesthouse,Entire home/apt,3,NaN,1 bath,2,2,$136.00,30,60,30,30,60,60,30,60,t,0,23,53,143,178,8,1,8/13/2018,6/16/2023,5,5,5,5,5,5,5,3
1,364,783,7/11/2008,"Denver, CO",NaN,NaN,NaN,f,Five Points,1,1,"Denver, Colorado, United States",Five Points,40,-105,Entire loft,Entire home/apt,3,NaN,1.5 baths,1,1,$179.00,185,365,185,185,365,365,185,365,t,23,53,83,358,87,0,0,5/18/2009,4/26/2016,5,5,5,5,5,5,5,1
2,590,933,7/21/2008,"Denver, CO",within an hour,100%,97%,NaN,North Park Hill,2,2,"Denver, Colorado, United States",North Park Hill,40,-105,Private room in home,Private room,3,NaN,1 shared bath,NaN,1,$84.00,1,300,1,1,300,300,1,300,t,15,45,63,242,702,48,7,3/29/2009,6/24/2023,5,5,5,5,5,5,5,4
3,592,933,7/21/2008,"Denver, CO",within an hour,100%,97%,NaN,North Park Hill,2,2,NaN,North Park Hill,40,-105,Private room in home,Private room,2,NaN,1 shared bath,NaN,1,$65.00,28,365,28,28,365,365,28,365,t,8,8,8,174,168,1,1,2/21/2009,6/24/2023,5,5,5,5,5,5,5,1
4,1940,2150,8/16/2008,"Denver, CO",within an hour,100%,100%,t,Baker,1,1,"Denver, Colorado, United States",Baker,40,-105,Entire guesthouse,Entire home/apt,2,NaN,1 bath,NaN,1,$111.00,1,120,1,1,1125,1125,1,1125,t,6,22,44,129,132,35,2,1/24/2017,6/4/2023,5,5,5,5,5,5,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5373,923424000000000000,24326234,11/30/2014,"Boulder, CO",within an hour,99%,100%,f,Capitol Hill,25,27,NaN,Civic Center,40,-105,Entire rental unit,Entire home/apt,2,NaN,1 bath,1,1,$150.00,1,365,1,1,365,365,1,365,t,17,39,69,249,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5374,923799000000000000,57963435,2/8/2016,"Denver, CO",NaN,NaN,NaN,f,Northwest,1,4,"Denver, Colorado, United States",Chaffee Park,40,-105,Entire home,Entire home/apt,7,NaN,1 bath,3,3,$155.00,1,365,1,1,365,365,1,365,t,14,44,68,68,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5375,924152000000000000,27480175,2/9/2015,"Denver, CO",within an hour,100%,96%,t,West,2,2,"Denver, Colorado, United States",Valverde,40,-105,Entire home,Entire home/apt,6,NaN,2 baths,2,3,$151.00,14,365,14,14,365,365,14,365,t,0,28,30,93,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5376,924529000000000000,456511812,4/28/2022,NaN,within an hour,68%,98%,f,City Center,465,556,"Denver, Colorado, United States",West Colfax,40,-105,Entire townhouse,Entire home/apt,10,NaN,2 baths,4,4,$209.00,2,1125,2,3,1125,1125,2,1125,t,15,45,75,350,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5377,924610000000000000,445116732,2/14/2022,NaN,within an hour,100%,99%,NaN,Central,7,31,"Denver, Colorado, United States",Union Station,40,-105,Private room in rental unit,Private room,2,NaN,1 private bath,NaN,1,$141.00,1,365,1,7,365,365,5,365,t,22,52,82,357,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2. Data Consistency Checks

### Column data types

In [6]:
# Getting a better understanding of the columns and their data types 
df_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5378 entries, 0 to 5377
Data columns (total 49 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           5378 non-null   float64
 1   host_id                      5378 non-null   int64
 2   host_since                   5378 non-null   object
 3   host_location                4602 non-null   object
 4   host_response_time           4698 non-null   object
 5   host_response_rate           4698 non-null   object
 6   host_acceptance_rate         4851 non-null   object
 7   host_is_superhost            4664 non-null   object
 8   host_neighbourhood           5111 non-null   object
 9   host_listings_count          5378 non-null   int64
 10  host_total_listings_count    5378 non-null   int64
 11  neighbourhood                3836 non-null   object
 12  neighbourhood_cleansed       5378 non-null   object
 13  latitude                     5378 non-null   float64
 14  longitude                    5378 non-null   float64
 15  property_type                5378 non-null   object
 16  room_type                    5378 non-null   object
 17  accommodates                 5378 non-null   int64
 18  bathrooms                    0 non-null      float64
 19  bathrooms_text               5376 non-null   object
 20  bedrooms                     4438 non-null   float64
 21  beds                         5336 non-null   float64
 22  price                        5378 non-null   object
 23  minimum_nights               5378 non-null   int64
 24  maximum_nights               5378 non-null   int64
 25  minimum_minimum_nights       5378 non-null   int64
 26  maximum_minimum_nights       5378 non-null   int64
 27  minimum_maximum_nights       5378 non-null   int64
 28  maximum_maximum_nights       5378 non-null   int64
 29  minimum_nights_avg_ntm       5378 non-null   float64
 30  maximum_nights_avg_ntm       5378 non-null   float64
 31  has_availability             5378 non-null   object
 32  availability_30              5378 non-null   int64
 33  availability_60              5378 non-null   int64
 34  availability_90              5378 non-null   int64
 35  availability_365             5378 non-null   int64
 36  number_of_reviews            5378 non-null   int64
 37  number_of_reviews_ltm        5378 non-null   int64
 38  number_of_reviews_l30d       5378 non-null   int64
 39  first_review                 4520 non-null   object
 40  last_review                  4520 non-null   object
 41  review_scores_rating         4520 non-null   float64
 42  review_scores_accuracy       4517 non-null   float64
 43  review_scores_cleanliness    4517 non-null   float64
 44  review_scores_checkin        4517 non-null   float64
 45  review_scores_communication  4517 non-null   float64
 46  review_scores_location       4517 non-null   float64
 47  review_scores_value          4517 non-null   float64
 48  reviews_per_month            4520 non-null   float64
dtypes: float64(16), int64(17), object(16)
memory usage: 2.0+ MB

In [7]:
# Changing the columns with dates to the correct datetime format
df_listings['host_since'] = pd.to_datetime(df_listings['host_since'])
df_listings['first_review'] = pd.to_datetime(df_listings['first_review'])
df_listings['last_review'] = pd.to_datetime(df_listings['last_review'])

In [8]:
# Converting 'price' datatype so it shows up in the summary statistics

# Remove dollar sign, commas, and extra spaces, then convert the column to numeric (float)
df_listings['price'] = df_listings['price'].str.replace('[\$, ]', '', regex=True).astype(float)

In [10]:
# Updating all the values in the 'neighbourhood_cleansed' column for 'Gateway - Green Valley Ranch'
df_listings.loc[df_listings['neighbourhood_cleansed'] == 'Gateway - Green Valley Ranch', 'neighbourhood_cleansed'] = 'Gateway - GVR'

### Mixed-type data

In [11]:
# Checking for mixed-type data
for col in df_listings.columns.tolist():
    weird = (df_listings[[col]].applymap(type) != df_listings[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_listings[weird]) > 0:
        print (col)

host_location
host_response_time
host_response_rate
host_acceptance_rate
host_is_superhost
host_neighbourhood
neighbourhood
bathrooms_text
first_review
last_review

In [12]:
# Checking for mixed-type data and printing out the data type
for col in df_listings.columns.tolist():
    weird = (df_listings[[col]].applymap(type) != df_listings[[col]].iloc[0].apply(type)).any(axis=1)
    if weird.any():
        mixed_data = df_listings[weird]
        unique_data_types = mixed_data[col].apply(type).unique()
        print(f"Column '{col}' has mixed data types:")
        for dtype in unique_data_types:
            print(f"   - {dtype}")

Column 'host_location' has mixed data types:
   - <class 'float'>
Column 'host_response_time' has mixed data types:
   - <class 'float'>
Column 'host_response_rate' has mixed data types:
   - <class 'float'>
Column 'host_acceptance_rate' has mixed data types:
   - <class 'float'>
Column 'host_is_superhost' has mixed data types:
   - <class 'float'>
Column 'host_neighbourhood' has mixed data types:
   - <class 'float'>
Column 'neighbourhood' has mixed data types:
   - <class 'float'>
Column 'bathrooms_text' has mixed data types:
   - <class 'float'>
Column 'first_review' has mixed data types:
   - <class 'pandas._libs.tslibs.nattype.NaTType'>
Column 'last_review' has mixed data types:
   - <class 'pandas._libs.tslibs.nattype.NaTType'>

In [13]:
# Converting the following columns into string data types
df_listings[['host_location','host_response_time','host_response_rate','host_acceptance_rate','host_is_superhost',
             'host_neighbourhood','neighbourhood','bathrooms_text']] = df_listings[['host_location','host_response_time','host_response_rate','host_acceptance_rate','host_is_superhost',
             'host_neighbourhood','neighbourhood','bathrooms_text']].astype('str')

### Missing values

In [14]:
# Checking for missing values
df_listings.isnull().sum()

id                                0
host_id                           0
host_since                        0
host_location                     0
host_response_time                0
host_response_rate                0
host_acceptance_rate              0
host_is_superhost                 0
host_neighbourhood                0
host_listings_count               0
host_total_listings_count         0
neighbourhood                     0
neighbourhood_cleansed            0
latitude                          0
longitude                         0
property_type                     0
room_type                         0
accommodates                      0
bathrooms                      5378
bathrooms_text                    0
bedrooms                        940
beds                             42
price                             0
minimum_nights                    0
maximum_nights                    0
minimum_minimum_nights            0
maximum_minimum_nights            0
minimum_maximum_nights            0
maximum_maximum_nights            0
minimum_nights_avg_ntm            0
maximum_nights_avg_ntm            0
has_availability                  0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
number_of_reviews                 0
number_of_reviews_ltm             0
number_of_reviews_l30d            0
first_review                    858
last_review                     858
review_scores_rating            858
review_scores_accuracy          861
review_scores_cleanliness       861
review_scores_checkin           861
review_scores_communication     861
review_scores_location          861
review_scores_value             861
reviews_per_month               858
dtype: int64

#### I saw that the 'first_review' and 'last_review' columns have both mixed-type data as well as missing values. I am going to convert all the NaN values in these columns to an arbitrary start date of 01/01/1900. We can filter this out later in our analysis, but we need to make sure that we do not have mixed-type data before we begin.

In [15]:
# Replacing the missing values in the two columns with '01/01/1900'
df_listings['first_review'] = df_listings['first_review'].fillna(pd.to_datetime('1900-01-01'))
df_listings['last_review'] = df_listings['last_review'].fillna(pd.to_datetime('1900-01-01'))

In [16]:
# Checking to see if the missing values still exist
df_listings[['first_review','last_review']].isnull().sum()

first_review    0
last_review     0
dtype: int64

In [17]:
# Looking to see the values in the bathrooms_text column.
df_listings['bathrooms_text'].value_counts(dropna=False)

1 bath              2811
2 baths              835
1 private bath       348
2.5 baths            341
1.5 baths            255
1 shared bath        224
3 baths              163
3.5 baths            151
4 baths               69
2 shared baths        64
1.5 shared baths      49
4.5 baths             29
5 baths               10
5.5 baths              8
4 shared baths         5
3 shared baths         3
17 shared baths        2
nan                    2
Half-bath              2
2.5 shared baths       2
6 baths                2
9.5 baths              1
6.5 baths              1
Shared half-bath       1
Name: bathrooms_text, dtype: int64

#### Based on this, I am going to drop the bathrooms column because it does have any values and all the information is available in the 'bathrooms_text' column.

In [18]:
# Dropping the 'bathroom' column
df_listings2 = df_listings.drop(columns = ['bathrooms'])

In [19]:
# Further investigating the bedrooms NULL values
df_listings2['bedrooms'].value_counts(dropna=False)

1      1884
2      1495
NaN     940
3       667
4       258
5       100
6        25
7         4
8         3
9         1
10        1
Name: bedrooms, dtype: int64

In [20]:
# Create a boolean mask to identify rows with null values in 'bedrooms' column
mask_null_bedrooms = df_listings2['bedrooms'].isnull()

# Use the mask with .loc to select the rows and all columns where 'bedrooms' is null
null_bedrooms = df_listings2.loc[mask_null_bedrooms, :]

# Display the result DataFrame containing rows with null 'bedrooms' value
null_bedrooms

,id,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,neighbourhood,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,has_availability,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
2,590,933,2008-07-21,"Denver, CO",within an hour,100%,97%,nan,North Park Hill,2,2,"Denver, Colorado, United States",North Park Hill,40,-105,Private room in home,Private room,3,1 shared bath,NaN,1,84,1,300,1,1,300,300,1,300,t,15,45,63,242,702,48,7,2009-03-29,2023-06-24,5,5,5,5,5,5,5,4
3,592,933,2008-07-21,"Denver, CO",within an hour,100%,97%,nan,North Park Hill,2,2,nan,North Park Hill,40,-105,Private room in home,Private room,2,1 shared bath,NaN,1,65,28,365,28,28,365,365,28,365,t,8,8,8,174,168,1,1,2009-02-21,2023-06-24,5,5,5,5,5,5,5,1
4,1940,2150,2008-08-16,"Denver, CO",within an hour,100%,100%,t,Baker,1,1,"Denver, Colorado, United States",Baker,40,-105,Entire guesthouse,Entire home/apt,2,1 bath,NaN,1,111,1,120,1,1,1125,1125,1,1125,t,6,22,44,129,132,35,2,2017-01-24,2023-06-04,5,5,5,5,5,5,5,2
5,21745,990,2008-07-23,"Denver, CO",within a few hours,100%,89%,nan,North Capitol Hill,1,4,"Denver, Colorado, United States",North Capitol Hill,40,-105,Private room in home,Private room,2,2 shared baths,NaN,1,40,30,1125,30,30,1125,1125,30,1125,t,0,2,17,258,235,1,0,2010-04-10,2022-10-21,5,5,5,5,5,5,5,1
8,90307,489506,2011-04-06,"Denver, CO",within an hour,100%,100%,nan,North Park Hill,4,4,"Denver, Colorado, United States",South Park Hill,40,-105,Private room in home,Private room,2,1 private bath,NaN,1,90,29,1125,29,29,1125,1125,29,1125,t,0,20,50,50,269,21,3,2012-01-03,2023-06-19,5,5,5,5,5,5,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5358,920185000000000000,445116732,2022-02-14,nan,within an hour,100%,99%,nan,Central,7,31,"Denver, Colorado, United States",Union Station,40,-105,Private room in rental unit,Private room,2,1 private bath,NaN,1,146,29,365,1,7,365,365,5,365,t,24,51,81,355,0,0,0,1900-01-01,1900-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5360,920343000000000000,453962257,2022-04-12,"Denver, CO",within an hour,100%,100%,nan,Cheesman Park,1,1,"Denver, Colorado, United States",Cheesman Park,40,-105,Private room in home,Private room,2,1 bath,NaN,1,200,1,4,1,1,4,4,1,4,f,23,53,83,83,0,0,0,1900-01-01,1900-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5361,920392000000000000,26852378,2015-01-28,"Denver, CO",within an hour,100%,100%,nan,Cole,3,4,nan,Whittier,40,-105,Private room in home,Private room,2,1.5 baths,NaN,1,56,29,60,29,29,60,60,29,60,t,1,15,45,168,0,0,0,1900-01-01,1900-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5364,921175000000000000,91007636,2016-08-20,"Denver, CO",within an hour,100%,100%,nan,Bear Valley,2,2,"Denver, Colorado, United States",Bear Valley,40,-105,Private room in home,Private room,1,1 bath,NaN,1,35,30,365,30,30,1125,1125,30,1125,t,20,20,20,214,0,0,0,1900-01-01,1900-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5377,924610000000000000,445116732,2022-02-14,nan,within an hour,100%,99%,nan,Central,7,31,"Denver, Colorado, United States",Union Station,40,-105,Private room in rental unit,Private room,2,1 private bath,NaN,1,141,1,365,1,7,365,365,5,365,t,22,52,82,357,0,0,0,1900-01-01,1900-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### After looking more into the missing values for bedrooms, all these rows have special cases for the 'room_type' or 'property_type'. I am not going to delete these values because we can draw further insight into these rows from those two columns.

#### Also saw that there are some missing values in the 'host_is_superhost' column listed as 'nan'. Just looking more into those rows.

In [21]:
# Create a boolean mask to identify rows with null values in 'bedrooms' column
mask_null_superhost = df_listings2['host_is_superhost'] == 'nan'

# Use the mask with .loc to select the rows and all columns where 'bedrooms' is null
null_superhost = df_listings2.loc[mask_null_superhost, :]

# Display the result DataFrame containing rows with null 'bedrooms' value
null_superhost.head()

,id,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,neighbourhood,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,has_availability,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
2,590,933,2008-07-21,"Denver, CO",within an hour,100%,97%,nan,North Park Hill,2,2,"Denver, Colorado, United States",North Park Hill,40,-105,Private room in home,Private room,3,1 shared bath,NaN,1,84,1,300,1,1,300,300,1,300,t,15,45,63,242,702,48,7,2009-03-29,2023-06-24,5,5,5,5,5,5,5,4
3,592,933,2008-07-21,"Denver, CO",within an hour,100%,97%,nan,North Park Hill,2,2,nan,North Park Hill,40,-105,Private room in home,Private room,2,1 shared bath,NaN,1,65,28,365,28,28,365,365,28,365,t,8,8,8,174,168,1,1,2009-02-21,2023-06-24,5,5,5,5,5,5,5,1
5,21745,990,2008-07-23,"Denver, CO",within a few hours,100%,89%,nan,North Capitol Hill,1,4,"Denver, Colorado, United States",North Capitol Hill,40,-105,Private room in home,Private room,2,2 shared baths,NaN,1,40,30,1125,30,30,1125,1125,30,1125,t,0,2,17,258,235,1,0,2010-04-10,2022-10-21,5,5,5,5,5,5,5,1
8,90307,489506,2011-04-06,"Denver, CO",within an hour,100%,100%,nan,North Park Hill,4,4,"Denver, Colorado, United States",South Park Hill,40,-105,Private room in home,Private room,2,1 private bath,NaN,1,90,29,1125,29,29,1125,1125,29,1125,t,0,20,50,50,269,21,3,2012-01-03,2023-06-19,5,5,5,5,5,5,5,2
10,192430,923646,2011-08-04,"Denver, CO",within a day,100%,100%,nan,South Park Hill,1,1,"Denver, Colorado, United States",South Park Hill,40,-105,Private room in condo,Private room,1,1 shared bath,NaN,1,39,29,58,29,29,58,58,29,58,t,0,21,51,141,131,4,0,2011-08-22,2023-04-21,5,5,5,5,5,5,5,1

#### I will not be removing these null values. They affect a large portion of our dataset, but don't really affect my overall analysis goals.

#### Looking more into the other columns that had missing values. They all see to have about 858 counts, my guess is that there is some pattern to identify.

In [22]:
# Create a boolean mask to identify rows with null values in 'bedrooms' column
mask_null_firstreview = df_listings2['first_review'].isnull()

# Use the mask with .loc to select the rows and all columns where 'bedrooms' is null
null_firstreview = df_listings2.loc[mask_null_firstreview, :]

# Display the result DataFrame containing rows with null 'bedrooms' value
null_firstreview.head(15)

Empty DataFrame
Columns: [id, host_id, host_since, host_location, host_response_time, host_response_rate, host_acceptance_rate, host_is_superhost, host_neighbourhood, host_listings_count, host_total_listings_count, neighbourhood, neighbourhood_cleansed, latitude, longitude, property_type, room_type, accommodates, bathrooms_text, bedrooms, beds, price, minimum_nights, maximum_nights, minimum_minimum_nights, maximum_minimum_nights, minimum_maximum_nights, maximum_maximum_nights, minimum_nights_avg_ntm, maximum_nights_avg_ntm, has_availability, availability_30, availability_60, availability_90, availability_365, number_of_reviews, number_of_reviews_ltm, number_of_reviews_l30d, first_review, last_review, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, reviews_per_month]
Index: []

In [23]:
# Value_counts of those missing rows
null_firstreview.value_counts('host_id')

Series([], dtype: int64)

#### It looks like most of these listings just don't have any review data for them for whatever reason. For right now, I will not be removing or adjusting the rows. Futher insight will be conducted to figure out if there is a trend, but at face value, I cannot identify why.

### Duplicate Values

In [24]:
# Checking for exact duplicates
df_duplicates = df_listings2[df_listings2.duplicated()]

In [25]:
# Checking the shape of the df_duplicates
df_duplicates.shape

(0, 48)

#### No exact duplicates found. Nothing to do here, the data set looks great.

## 3. Data Profiling and Summary Statistics

In [26]:
# Summary statistics on the dataframe to get a better understanding of the values
df_listings2.describe()

,id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
count,5378,5378,5378,5378,5378,5378,5378,4438,5336,5378,5378,5378,5378,5378,5378,5378,5378,5378,5378,5378,5378,5378,5378,5378,5378,4520,4517,4517,4517,4517,4517,4517,4520
mean,299904290277709824,145997140,255,349,40,-105,4,2,2,253,18,550,22,30,400096,400113,29,400106,7,21,38,171,54,14,1,5,5,5,5,5,5,5,2
std,366989627671087232,154578140,970,1304,0,0,3,1,2,1462,23,468,48,70,29283252,29283252,65,29283252,9,19,29,125,98,22,2,0,0,0,0,0,0,0,2
min,360,589,1,1,40,-105,0,1,1,0,1,1,1,1,1,2,1,2,0,0,0,0,0,0,0,0,1,1,1,1,1,1,0
25%,35741427,23313401,1,1,40,-105,2,1,1,98,2,90,2,2,365,365,2,365,0,1,9,54,2,0,0,5,5,5,5,5,5,5,0
50%,51699998,84354400,2,3,40,-105,4,2,2,142,29,365,29,29,1125,1125,29,1125,4,19,39,158,14,4,0,5,5,5,5,5,5,5,1
75%,690449000000000000,242518513,9,14,40,-105,5,2,3,217,30,1125,30,30,1125,1125,30,1125,13,36,61,297,61,21,2,5,5,5,5,5,5,5,3
max,924610000000000000,522406490,4739,8021,40,-105,16,10,18,68334,600,1125,600,1700,2147483647,2147483647,600,2147483647,30,60,90,365,1405,311,22,5,5,5,5,5,5,5,28

In [27]:
# Calculating the median values of all the numeric columns 

df_listings2.median()

C:\Users\peter\AppData\Local\Temp\ipykernel_13288\4007003031.py:3: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df_listings2.median()
C:\Users\peter\AppData\Local\Temp\ipykernel_13288\4007003031.py:3: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_listings2.median()

id                            51699998
host_id                       84354400
host_listings_count                  2
host_total_listings_count            3
latitude                            40
longitude                         -105
accommodates                         4
bedrooms                             2
beds                                 2
price                              142
minimum_nights                      29
maximum_nights                     365
minimum_minimum_nights              29
maximum_minimum_nights              29
minimum_maximum_nights            1125
maximum_maximum_nights            1125
minimum_nights_avg_ntm              29
maximum_nights_avg_ntm            1125
availability_30                      4
availability_60                     19
availability_90                     39
availability_365                   158
number_of_reviews                   14
number_of_reviews_ltm                4
number_of_reviews_l30d               0
review_scores_rating                 5
review_scores_accuracy               5
review_scores_cleanliness            5
review_scores_checkin                5
review_scores_communication          5
review_scores_location               5
review_scores_value                  5
reviews_per_month                    1
dtype: float64

## 4. Exporting the Clean Dataframe

In [28]:
# Exporting the df_listings2
df_listings2.to_pickle(os.path.join(path, '02. Data','Modified', 'listings_clean.pkl'))

# Exporting the df_listings2
df_listings2.to_csv(os.path.join(path, '02. Data','Modified', 'listings_clean.csv'))